html,
body {
  margin: 0;
  padding: 0;
  font-size: 14pt;
  width: 100vw;
  height: 100vh;
}


nav {
  background: black;
  color: white;
  text-align: center;
  padding: 0 20px;
}

nav img {
  max-height: 50px;
  margin: 5px 20px 5px 0;
  display: inline-block;
  vertical-align: middle;
}

nav h1 {
  margin: 0;
  display: inline-block;
  vertical-align: middle;
}

a {
  color: rgb(255, 255, 255);
  display: inline-block;
  padding: 20px;
  font-size: 1.2em;
  text-decoration: none;
}

nav a:hover {
  background: #282C34;
}

main {
  width: 900px;
  margin: auto;
  height: 100%;
}